@import url("https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background-color: #e0e4e4;
  height: 15vh;
  width: 100vw;
  align-items: center;
  font-size: large;
}

.left ul,
.center ul,
.right ul {
  display: flex;
}

ul li {
  margin: 10px;
  list-style-type: none;
}
.center ul {
  font-family: Inria Sans;
  font-weight: 550;
  
  justify-content: space-around;
}
.center ul li a{
  margin: 2.5rem;
  color: black;
  position: relative;
  text-decoration: none;
  
}

.left ul {
  font-family: Inria Sans;
  font-weight: 500;
  font-size: 35px;
  right: 5vw;
  position: relative;
}
.leftword {
  position: relative;
  top: 20p;
}
.leftlogo {
  height: 60px;
  position: relative;
  bottom: 10px;
}
.right ul {
  font-family: Inria Sans;
  font-weight: 200;
  font-size: 25px;
  left: 2vw;
  position: relative;
}
.right ul,
.rightlogo {
  height: 50px;
  position: relative;
}
/* .sec1{
  overflow: hidden;
} */
.sec1 h2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 4.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 25vh;
  margin-left: 9vw;
  
}
.imgsec1 {
  display: flex;
  position: relative;
  bottom: 30vh;
  height: 70vh;
  width: 80vh;
  float: right;
}
.sec2 h3 {
  display: flex;
  position: relative;
  font-size: 2rem;
  font-family: monospace;
  margin-top: 18vh;
  left: 25vw;
}
.imgsec2 {
  display: flex;
  position: relative;
  margin-top: 0;
  height: 65vh;
  width: 65vh;
  float: left;
  left: 5vw;
}
.shopnow {
  display: flex;
  position: relative;
  margin-top: 35vh;
  margin-left: 25vw;
}
.shoprec1 {
  display: flex;
  position: relative;
  background-color: #204f25;
  height: 6vh;
  width: 8vw;
}
.shoprec2 a{
  display: flex;
  position: relative;
  background-color: rgb(12, 12, 12);
  color: #e0e4e4;
  padding: 15px;
  font-size: large;
  height: 6vh;
  width: 8vw;
  margin-top: 2vh;
  right: 7vw;
  text-decoration: none;
}
/*  section 3 started */
.sec3 {
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
}
.sec3text {
  font-size: 2.5rem;
  margin-left: 15vw;
}
.sec3logo {
  display: flex;
  position: relative;
  height: 120px;
  width: 150px;
}

.bigimg {
  display: flex;
  position: relative;
}
.bigimg4 {
  display: flex;
  position: relative;
  margin-top: 10vh;
  margin-left: 12vw;
  height: 80vh;
  width: 80vw;
}
.sec4 h2 {
  margin-top: 10vh;
  font-size: 2.1rem;
  margin-left: 12vw;
  font-family: "Arial Narrow";
}

.learnmore {
  display: flex;
  position: relative;
}
/* sec5 */
.learnmore h4 a{
  display: flex;
  position: relative;
  background-color: rgb(12, 12, 12);
  color: #e0e4e4;
  padding: 15px;
  font-size: large;
  height: 6vh;
  width: 8vw;
  margin-top: 2vh;
  left: 85vw;
  text-decoration: none;
  
}
/* sec6 */
.sec6 {
  display: flex;
}

.secword {
  position: absolute;
  margin-top: 10vh;
  margin-left:45vw;
  font-size: 2rem;
}

.sec7{
  display: flex;


}
.secimg7{
  width: 100px;
  margin-left: 50vw;
  margin-top: 22vh;
}

/* sec8 */
.ourshop {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30vh;
  margin-left: 10vw;
}
.ourshop1 {
  display: flex;
  position: relative;
  background-color: #204f25;
  height: 8vh;
  width: 10vw;
}
.ourshop2 a{
  display: flex;
  position: relative;
  background-color: rgb(12, 12, 12);
  color: #e0e4e4;
  padding: 20px;
  font-size: large;
  height: 8vh;
  width: 10vw;
  margin-top: 2vh;
  right: 9vw;
  text-decoration: none;
}
.ourshop3{
  display: flex;
  position: relative;
  margin-top: 5vh;
  font-size: 2.5rem;
}

/* flexbox start */

.container{
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}
.cards{
  flex-direction: column;
  width: 300px ;
  margin: 25px;
  background-color: white;
  border-radius: 7px;
}
.card-img img{
  width: 100%;
  height: 50vh;
  border-radius: 7px;
}
.card-body h2{
  text-align: left;
}
.card-body p{
  text-align: justify;
  margin-bottom: 0vh;
  padding: 5px;
}
.card-body p{
  font-size: large;
  text-align:left;
  margin-top: 2vh;
}
.card-pn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-png{
  display: flex;
  margin-left: 12vw;
  margin-bottom:10vh;
  width: 50px;

}
.card-body h3{
   display: flex;
   font-size: 1.5rem;
   margin-left:0vw;
}

/* sec9 */

.container2{
  display: flex;
  flex-direction: column;
  background-color: #E3DFDF;
  height: 90vh;
  justify-content: space-around;
}

.regist{
  border: 0;
  border-radius: 20px;
  width: 15vw;
  height: 3.5vh;
}

.collection{
  display: flex;
  justify-content: center;
  font-size:2.5rem;

}

.collectionImages{
  display: flex;
  justify-content: space-around;
}

.collectionImage{
  height: 400px;
  width: 600px;
  border-radius:5px;
}

.offers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.offers offz{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
}

.searchOffers{
  display: flex;
  justify-content: center;
}
.regis{
  display: flex;
  font-size: 2rem;
}


.services{
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.service{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #E5EFE6;
  width: 22vw;
  height: 60vh;
}
.icons{
  display: flex;
  height: 120px;
  width: 100px;
  position: relative;
  top: 2vh;
}
.name{
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desc{
  display: flex;
  font-size: 1.6rem;
  padding: 15px;
  position: relative;
  bottom: 2vh;
}


/* sec 11 */
.aboutplant{
  display: flex;
  background-color: #E3DFDF;
  margin-bottom: 7vh;
  height: 50vh;
  align-items: center;
  
}
.bigp{
  display: flex;
  height: 380px;
  width: 700px;
}
.aboutpage{
display: flex;
flex-direction: column;
height: 50vh;
justify-content: space-around;
align-items: flex-start;
margin-left: 5vw;
}
.about2{
  display: flex;
  font-size: 2rem;
}
.gallery a{ 
  display: flex;
  width: 10vw;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-size: 1.6rem;
  background-color: black;
  color: #fff;
  text-decoration: none;
}

.para2{
  font-size: 1.2rem;
}

.mailsec{
  display: flex;
}

input{
  border: 0;
  border-radius: 20px;
  width: 12vw;
}

input::placeholder{
  text-align: center;
}

.mailsec span a{
  height: 4vh;
  width: 7vw;
  background-color: #204f25;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  text-decoration: none;
}

/* this is about the footerpage */
.footerpage{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  background-color: #E0E4E4;
  height: 35vh;
}

.plantHeading{
  font-size: 2.5rem;
  position: relative;
  top: 2vh;
}

.plantDesc{
  font-size: 1.7rem;
  bottom: 40vh;
  position: relative;
  top: 5vh;
}

.plantIcons{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  text-decoration: none;
}
.endlogo{
  width: 100px;
}

.logoCenter{
  display: flex;
}

.logoleft{
  position: relative;
  right: 14vw;
}

.logoCenter span a{
  margin: 1rem;
  top:8vh;
  position: relative;
  font-size: 1.5rem;
  color: black;
  display: flex;
  text-decoration: none;
}

.logoRight {
  display: flex;
}

.logoRight span{
  margin: .5rem;
  position: relative;
  
  left: 10vw;
}
.log4 a{
  display: flex;
  position: relative;
  top:10vh;
  font: black;
  left: 7vw;
  text-decoration: none;

}
.logoright1{
  width: 30px;
  position: relative;
  top: 8vh;
}
